img{
    alt: 'pic';
    width: 800px;
    height:auto;
}
.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px limegreen inset;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
